// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

html,
body,
div,
p,
ul,
table,
footer,
main,
header {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 500px) {
  p {
    color: red;
  }
}

p {
  color: blue;
  padding: 10px;
  @media (min-width: 1000px) {
    color: green;
  }
  @media (min-width: 1500px) {
    color: violet;
  }
}
